{% extends 'otree/Page.html' %}
{% load otree static %}

{% block title %}
    Communication Stage
{% endblock %}

{% block content %}

    <ul>
        <li>In each period, before you make your pricing decisions you can communicate with the other two firms. <strong>Therefore, we provide you with a video chat.</strong></li>
        <li>You may not use offensive language in the video chat.</li>
        <li>The chat is open for 1 minute. After that time, the chat will close and you automatically move to the screen where you can set your price.</li>
        <li>If there is any delay in entering or exiting the video chat room, please remain calm and patient. All participants will be resynchronized on the Results Display Page.</li>
        <li>When entering the video chat room, please be aware that the session will be recorded.</li>
        <li><strong>If you find yourself as the only participant in the room, please refresh your page to check for any new participants.</strong></li>
        <li><strong> If there are only two participants in the room and almost 15-20 seconds have passed, both participants may need to refresh their page.</strong></li>
        <li style="color: #fd7e14"><strong>Please, when in the video chat room, ensure that you are looking directly at the camera. Your face must remain fully visible to the camera and should not be covered by your hand or any other object during the recording. Wearing masks or any kind of face coverings is not allowed.</strong></li>
    </ul>

    {% next_button %}
{% endblock %}
