{% extends 'otree/Page.html' %}
{% load otree static %}

{% block title %}
    Payoff Information
{% endblock %}

{% block content %}
    <p>Summary of round {{ player.round_number }}</p>

    <ul>
        <p> Market Price: {{ lowest_price }}</p>
        {% for player in group.get_players %}
            <li>{{ player.nickname }}'s price: {{ player.price }}</li>
        {% endfor %}
    </ul>

    <p>Your ({{player.nickname}}'s) earnings: {{ player.payoff }}</p>
    <p>Each consumer is subtracted: <span style="color: red"> {{ each_consumer_subtracted }}</span></p>
    <p>The group of consumers is subtracted: <span style="color: red"> {{ group_consumers_subtracted }}</span></p>

{% endblock %}
