{% extends 'otree/Page.html' %}
{% load otree static %}

{% block title %}
   Final summary of the Payoffs
{% endblock %}

{% block content %}

<table>
    <tr>
        <td>Your total earnings:</td>
        <td style="padding-left: 1em">{{ participant.payoff }}</td>
    </tr>
    <tr>
        <td>Your earnings in pounds:</td>
        <td style="padding-left: 1em">{{ payoff_in_real_world_currency }}</td>
    </tr>
    <tr>
        <td>Total earnings including show-up fee:</td>
        <td style="padding-left: 1em">{{ participant.payoff_plus_participation_fee }}</td>
    </tr>
</table>

<h3>Earnings of other players:</h3>
<ul>
    {% for payoff in other_players_payoffs %}
    <li>Player {{ forloop.counter }}: {{ payoff }}</li>
    {% endfor %}
</ul>

<br/><br/>

{{ next_button }}

{% endblock %}
